<%= form_for(:business, :url =>{:controller => 'businesses/sessions',:action=> "create"}) do |f| %>
    <p> <%= f.email_field :email,
                          :autofocus => true,
                          :style=>"margin-bottom: 15px;",
                          :type=>"text",
                          :class=>"span3",
                          :placeholder=>"Business Email"  %>

    </p>
    <p>
      <%= f.password_field :password,
                           :style=>"margin-bottom: 15px;",
                           :type=>"password",
                           :class => "span3",
                           :placeholder=>"Password" %>
    </p>
    <p>
      <%= f.submit "Sign in",
                   :class=>"btn btn-primary",
                   :type=>"submit" %> &nbsp;

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "  Forgot your password?", new_password_path(resource_name) %><br /><br />
<% end -%>

    </p>

<% end %>
 <hr>
New To This Website?
<%= link_to "Register", membership_path, :class => 'btn btn-info' %>