<% if user_signed_in? || business_signed_in? %>
    <ul class="nav pull-right">
      <% if user_signed_in? %>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to " Dashboard", users_dashboard_index_path ,:class=>"icon-list-alt" %></li>
              <li><%= link_to " History", "#" ,:class=>"icon-time" %></li>
              <li><%= link_to " Edit Profile", edit_user_registration_path(current_user) ,:class=>"icon-user" %></li>
              <li></li>
              <li class="divider"></li>
              <li> <%= link_to " Logout", destroy_user_session_path, :method => :delete,  :class=>"icon-off" %></li>
            </ul>
          </li>
      <% elsif business_signed_in? %>
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_business.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to " Dashboard", businesses_dashboard_index_path ,:class=>"icon-list-alt" %></li>
              <li><%= link_to " History", "#" ,:class=>"icon-time" %></li>
              <li><%= link_to " Edit Profile", "#" ,:class=>"icon-user" %></li>
              <li></li>
              <li class="divider"></li>
              <li> <%= link_to " Logout", destroy_business_session_path, :method => :delete,  :class=>"icon-off" %></li>
            </ul>
          </li>
      <% end %>
    </ul>
<% else %>

    <a class="btn btn-primary" data-toggle="modal" href="#myModal" >Login</a>

    <div class="modal hide" id="myModal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x</button>
        <h3>Login to CateringServicesOnline.in</h3>
      </div>
      <div class="modal-body">
        <!--<form method="post" action='' name="login_form">
          <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
          <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
          <p><button type="submit" class="btn btn-primary">Sign in</button>
            <a href="#">Forgot Password?</a>
          </p>
        </form>-->
        <div>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">User</a></li>
            <li><a href="#profile" data-toggle="tab">Business</a></li>
          </ul>    <br/>   <br/><br/><br/>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="home">
              <%= render '/layouts/shared/user' %>

            </div>
            <div class="tab-pane fade" id="profile">
              <%= render '/layouts/shared/business' %>
            </div>
          </div>
        </div>
      </div>

    </div>
<% end %>