
<div class="accordion" id="accordion2">
  <% @lists.each do |list| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= list.id %>">
            <%= list.name %>   <span style="float :right"><%= list.created_at.strftime("%d-%m-%Y") %></span>
          </a>
        </div>
        <div id="collapse<%= list.id %>" class="accordion-body collapse" style="height: 0px; ">
          <div class="accordion-inner">

            <table class="table">
              <thead>
              <tr>
                <th>Item Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Price</th>
                <th style="width: 36px;"></th>
              </tr>
              </thead>
              <tbody>
              <% list.menu_ids.split(",").each do |id| %>
                  <tr>
                    <% @m = Menu.find(id) %>
                    <td><%= @m.name %></td>
                    <td><%= @m.description %></td>
                    <td><%= @m.item_type %></td>
                    <td><%= @m.price %></td>

                  </tr>
              <% end %>
              </tbody>
            </table>

            <%= link_to " ", edit_menu_list_path(list),:class=>"icon-pencil" %> |
            <%= link_to " ", "#", :class=>"icon-remove"%>
          </div>
        </div>
      </div>
  <% end %>
</div>