<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => "form-horizontal"}) do |f| %>
    <fieldset>
      <!-- Address form -->

      <h2 class="text-info">USER SIGN IN</h2>
      <br/>


      <div class="control-group">
        <label class="icon-large icon-user control-label"> </label>
        <div class="controls">
          <%= f.email_field :email,:autofocus => true,
                            :type => "text",
                            :placeholder =>"email",
                            :class => "input-xlarge" %></div>
      </div>
      <div class="control-group">
        <label class=" icon-large icon-lock control-label"> </label>
        <div class="controls">
          <%= f.password_field :password,
                               :type => "password",
                               :placeholder =>"password",
                               :class => "input-xlarge" %>
        </div>
      </div>


    </fieldset>
    <div><%= f.submit "Sign in" ,class: "btn btn-block btn-success" %></div>

<% end %>



<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "  Forgot your password?", new_password_path(resource_name), class: " icon-question" %><br /><br/>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to " Didn't receive confirmation instructions?", new_confirmation_path(resource_name),class: " icon-question" %><br />
<% end -%>
