<div class="accordion" id="accordion2">
  <div class="">
    <% @catalog.each do |list| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= list.id %>">
              <%= list.business.name %>(<%= MenuList.find(list.menulist_id).name %>)
              <span style="float :right">
                <% if list.price.nil? %>
                     <b style="color: red; text-decoration: blink">Discount not Updated Yet !</b>
                 <% else %>
                    <b style="color: blue; text-decoration: blink">Discount Updated</b>
                 <% end %>
              </span>
            </a>
          </div>
          <div id="collapse<%= list.id %>" class="accordion-body collapse" style="height: 0px; ">
            <div class="accordion-inner">
               <p> Your Message:
                   <%= list.message %>
               </p>
              <hr>
              <table class="table">
                <thead>
                <tr>
                  <th></th>
                  <th>Item Name</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th style="width: 36px;"></th>
                </tr>
                </thead>
                <tbody>
                <% @total = 0 %>
                <% list.menu_ids.split(",").each do |id| %>
                    <tr>
                      <% @m = Menu.find(id) %>
                      <td><%= image_tag @m.image.url(:small) %></td>
                      <td><%= @m.name %></td>
                      <td><%= @m.description %></td>
                      <td><%= @m.item_type %></td>
                      <td><%= @m.price %></td>
                      <% @total += @m.price  %>
                    </tr>
                <% end %>
                </tbody>
              </table>
              <hr>



              <div style="float: right; text-align: right; margin-right: 50px">
                <% if list.price.nil? %>
                    Total = <b><%= @total %></b><br/>
                    <marquee style = "color: darkgoldenrod">
                      <b>Wait for user to update Price And Availability</b>
                    </marquee>
                <% else %>
                    Total = <strike><b><%= @total %></b></strike><br/>
                    Discount = <b><%= (@total - list.price).round(2) %></b>
                    <hr>
                    Total Amount After Discount = <b><%=  number_to_currency( list.price, :locale => 'en-IN')  %></b>
                    <hr>
                    <%= link_to "Check Out", "#", class: "btn btn-primary" %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>