<!--Profile-->
<div class="row">
  <div class="span2">
    <%= image_tag @business.avatar.url(:medium) ,  :class => "img-thumbnail" %><br/>

  </div>
  <div class="span6">
    <blockquote>
      <p><%= @business.name %></p>
      <small><cite title="Source Title"><%= @business.city %>, <%= @business.state %>, <%= @business.country %> <i class="icon-map-marker"></i></cite></small>
    </blockquote>

    <i class="icon-envelope"> <%= @business.email %></i> <br>
    <i class="icon-globe"></i> www.bootsnipp.com <br>
    <i class="icon-gift"></i> January 30, 1974
    <hr>

    <p>Response (reviews : <%= Rate.where('rateable_id = ? and dimension = ?',"#{@business.id}","response").count %> Users)
      <%= ratings_for @business,:dimension => :response  %>
    </p>
    <p>Taste (reviews : <%= Rate.where('rateable_id = ? and dimension = ?',"#{@business.id}","taste").count %> Users)
      <%= ratings_for @business,:dimension => :taste %>
    </p>
    <p>Hospitality (reviews : <%= Rate.where('rateable_id = ? and dimension = ?',"#{@business.id}","hospitality").count %> Users)
      <%= ratings_for @business,:dimension => :hospitality %>
    </p>

  </div>
  <div class="span3">
    <p>QR Code </p>
    <%= image_tag qr_code(150, "catering-services.herokuapp.com/business/#{@business.name}") %>

  </div>

</div>

<!--Tabs-->

<hr>

<div id="tab" class="btn-group" data-toggle="buttons-radio">
  <a href="#prices2" class="btn btn-large btn-info active" data-toggle="tab">Menu</a>
  <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">Menu List</a>
  <a href="#requests2" class="btn btn-large btn-info" data-toggle="tab">Requests</a>
  <a href="#contact2" class="btn btn-large btn-info" data-toggle="tab">Contact</a>
</div>

<div class="tab-content span12">
  <div class="tab-pane active" id="prices2">
    <br>
    <div class="well">
     <%= render '/users/shared/menu' %>
    </div>

  </div>
  <div class="tab-pane" id="features2">
    <br>

    <%= render '/users/shared/menu_lists' %>
  </div>
  <div class="tab-pane" id="requests2">
    <br>
    <p class="lead">Requests content</p>
    <!--<div class="row">
      <div class="span3">
        <img src="http://placehold.it/200x200">
      </div>
      <div class="span5">
        <p>There are now two rates of Capital Gains Tax (CGT) for individuals. A standard rate of 18% and a higher rate of 28%. The annual exempt amount is still £10,100 for ’10-’11. For more information on CGT please see the factsheet we have put together, which is available to download below.</p>
      </div>
      <div class="span4">
        <img src="http://placehold.it/400x200">
      </div>
    </div>-->
  </div>
  <div class="tab-pane" id="contact2">
    <br>
    <p class="lead">Contact Us</p>
    <!--<form class="well span8">
      <div class="row">
        <div class="span3">
          <label>First Name</label>
          <input type="text" class="span3" placeholder="Your First Name">
          <label>Last Name</label>
          <input type="text" class="span3" placeholder="Your Last Name">
          <label>Email Address</label>
          <input type="text" class="span3" placeholder="Your email address">
          <label>Subject
            <select id="subject" name="subject" class="span3">
              <option value="na" selected="">Choose One:</option>
              <option value="service">General Customer Service</option>
              <option value="suggestions">Suggestions</option>
              <option value="product">Product Support</option>
            </select>
          </label>
        </div>
        <div class="span5">
          <label>Message</label>
          <textarea name="message" id="message" class="input-xlarge span5" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary pull-right">Send</button>
      </div>
    </form>-->
  </div>
</div>