
<h2>Your Items </h2>

<div class="btn-toolbar">
  <button class="btn">Import</button>
  <button class="btn">Export</button>
</div>
<div class="well">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Price</th>
      <th style="width: 36px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @menu_items.each do |m| %>
          <td><%= image_tag m.image.url(:thumb)  %></td>
          <td><%= m.name %></td>
          <td><%= m.description %></td>
          <td><%= m.item_type %></td>
          <td><%= m.price %></td>
          <td>
            <%= link_to "", edit_menu_businesses_dashboard_path(m.id), :class=>"icon-pencil"%>
            <%= link_to "", delete_menu_businesses_dashboard_path(m.id),:method => :delete, :class=>"icon-remove",
                        :confirm => "Sure want to delete #{m.name}"%>
          </td>
          </tr>

      <% end %>
      </tbody>
  </table>
</div>





<%= nested_form_for(@business,:validate => true, :url => create_menu_businesses_dashboard_path(@business), :html => { :method => :put, :class => "form-horizontal" }) do |ff| %>
    <%= devise_error_messages! %>
    <% ff.fields_for :menus do |f| %>
        <%= render 'form', :f => f %>
    <% end %>
    <p><%= ff.link_to_add " Add menu item", :menus,:class =>"sample-link-update icon-plus-sign"  %></p>
    <div><%= ff.submit "Update", :class => "btn btn-success", :id => "update-btn" %></div>
<% end %>


<script>
$(document).ready(function(){
  $("#update-btn").hide();
  $(".sample-link-update").click(function(){
  $("#update-btn").show();
  });
});
</script>



