
<h2>Your Menu list</h2>

<div class="btn-toolbar">
  <%= link_to "Add New Item", add_menu_businesses_dashboard_index_path, :class =>"btn btn-primary" %>
  <button class="btn">Import</button>
  <button class="btn">Export</button>
</div>
<div class="well">
  <table class="table">
    <thead>
    <tr>
      <th>Item Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Price</th>
      <th style="width: 36px;"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @menu.each do |m| %>
          <td><%= m.name %></td>
          <td><%= m.description %></td>
          <td><%= m.item_type %></td>
          <td><%= m.price %></td>
          <td>
            <%= link_to "", edit_menu_businesses_dashboard_path(m.id), :class=>"icon-pencil"%>
            <%= link_to "", delete_menu_businesses_dashboard_path(m.id),:method => :delete, :class=>"icon-remove"%>
          </td>
          </tr>

      <% end %>
      </tbody>
  </table>
</div>
<!--
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Delete Confirmation</h3>
  </div>
  <div class="modal-body">
    <p class="error-text">Are you sure you want to delete the user?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" data-dismiss="modal">Delete</button>
  </div>
</div>
-->


<!-- tandemSelect jQuery plugin - html block start -->
<div class='tandem-select-container'>

  <!-- Source Div and Select Menu -->
  <div class='tandem-select-src-div'>
    All Items
    <select multiple='multiple' class='tandem-select-src-select'>
      <% @menu.each do |m| %>
          <option value="<%= m.id %>"><%= m.name %>(<%= m.item_type %>)-<%= m.price %></option>
      <% end %>

    </select>
  </div>

  <!-- Controls DIV, Buttons and Search box -->
  <div class='tandem-select-controls-div'>
    Controls
    <br/> <br/>

    <input type="button" class="tandem-select-move-to-src" value="&nbsp;&lt;&nbsp;" />
    &nbsp; &nbsp;
    <input type="button" class="tandem-select-move-to-dst" value="&nbsp;&gt;&nbsp;" />

    <br/> <br/>
    Search<br/>
    <input type="text" class="tandem-select-search-src" size="15"/>
  </div>

  <!-- Destination Div and Select Menu -->
  <div class='tandem-select-dst-div'>
    Selected Items List
    <select multiple='multiple' class='tandem-select-dst-select' id='selected-items' name='selected-menu'></select>
    <button id = "finish">Finish</button>
  </div>

</div>
<div style="clear: both;"></div>
<!-- tandemSelect jQuery plugin - html block end -->


<script type="text/javascript">
    $(document).ready(function () {
        $('#selected-items').tandemSelect();

    });
</script>
<script>
    $(document).on('change',(function(event){
        var san = []
        $("#selected-items>option").each(function(){

            san.push($(this).val())
        }) ;

        $('#finish').click(function(){
            alert(san)
        })
    }));
</script>