
<div class="thumbnail center well well-small text-center">
  <h2>Welcome !</h2>
  <p>Search For Business by Name of it.</p>
  <%= form_tag root_path,:html => {:id=>"custom-search-form", :class => "form-search form-horizontal pull-right"}, method: :get do %>
      <div class="input-append">
        <%= text_field_tag :search, params[:search],
                           :type => "text",
                           :class=>"",
                           :placeholder=>"Search" %>
        <button type="submit" class="btn"><i class="icon-search"></i></button>
      </div>
  <% end %>

  <% unless @all_business.blank? %>
      <% @all_business.each do |b| %>
          <div class="row">
                      <div class="span3">
                        <%= image_tag b.avatar.url(:thumb) ,  :class => "img-thumbnail" %><br/>

                      </div>
                      <div class="span5">
                        <blockquote style="border: 0">
                          <p>
                          <%=link_to b.name,  business_view_path(:id => "#{b.name}") %>
                          </p>
                          <small><cite title="Source Title"><%= b.city %>, <%= b.state %>, <%= b.country %> <i class="icon-map-marker"></i></cite></small>
                        </blockquote>

                        <i class="icon-envelope"> <%= b.email %></i> <br>
                        <i class="icon-globe"></i> www.bootsnipp.com <br>
                        <i class="icon-gift"></i> January 30, 1974


                      </div>
                      <div class="span3">
                        <p>QR Code </p>
                        <%= image_tag qr_code(100, "catering-services.herokuapp.com/business/#{b.name}") %>

                      </div>

                    </div>
          <!--<p>Response:
            <%#= ratings_for b,:dimension => :response , :remote_options => {:url => rate_business_path(b)} %>
          </p>
          <p>Taste:
            <%#= ratings_for b,:dimension => :taste, :remote_options => {:url => rate_business_path(b)} %>
          </p>
          <p>Hospitality
            <%#= ratings_for b,:dimension => :hospitality, :remote_options => {:url => rate_business_path(b)} %>
          </p>-->

          <hr>
         <!-- <script>
              <%# if user_signed_in? %>
              $('.ajaxful-rating').click(function(){
                  new $.Zebra_Dialog('' +
                          'Thanks for Rating', {
                      'buttons':  false,
                      'modal': false,
                      'position': ['right - 20', 'top + 20'],
                      'auto_close': 2000
                  });
                  location.reload()
              })
              <%# end  %>

          </script>-->

      <% end %>
      <%= will_paginate @all_business, renderer: BootstrapPagination::Rails  %>
  <% else %>
      <% unless params[:search].blank? %>
          <p>Sorry, No search results found ! </p>
      <% end %>
  <% end %>

</div>


