<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "CateringServices" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag  "nested_form" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/" name="top">Catering Services</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/"><i class="icon-home"></i> Home</a></li>

          <li class="divider-vertical"></li>
          <li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#"><i class="icon-signal"></i> Check Status</a></li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class="nav pull-right">
          <% if business_signed_in? %>
              <ul class="nav pull-right">
                <% if business_signed_in? %>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_business.name %> <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to " Dashboard", "#" ,:class=>"icon-list-alt" %></li>
                        <li><%= link_to " History", "#" ,:class=>"icon-time" %></li>
                        <li><%= link_to " Edit Profile", edit_business_registration_path(current_business) ,:class=>"icon-user" %></li>
                        <li></li>
                        <li class="divider"></li>
                        <li> <%= link_to " Logout", destroy_business_session_path, :method => :delete,  :class=>"icon-off" %></li>
                      </ul>
                    </li>
                <% else %>
                    <li><%= link_to "login", new_business_sessions_path %>
                <% end %>
              </ul>
          <% else %>
              <li><%= link_to "Sign Up", membership_path %></li>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>

              </li>
          <% end %>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </div>
  <!--/.navbar-inner -->
</div>
<!--/.navbar -->

<script>
    $(document).ready(function()
    {
//Handles menu drop down
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
    });
</script>



<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="sidebar-nav">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="<%=  params[:controller].eql?("businesses/dashboard") && params[:action].eql?("index") ? 'active' : '' %>"><a href="/businesses/dashboard"><i class="icon-home"></i> Dashboard <i class="icon-chevron-right"></i></a></li>
          <li class="<%=  params[:action].eql?("add_menu") ? 'active' : '' %>"><a href="/businesses/dashboard/add_menu"><i class="icon-home"></i> Add menu <i class="icon-chevron-right"></i></a></li>
          <li class="<%=  params[:controller].eql?("menu_lists") ? 'active' : '' %>"><a href="/menu_lists"><i class="icon-home"></i> My Menulists <i class="icon-chevron-right"></i></a></li>
          <li class="<%=  params[:action].eql?("default_catering_service") ? 'active' : '' %>"><a href="/businesses/dashboard/default_catering_service"><i class="icon-home"></i> Default catering list <i class="icon-chevron-right"></i></a></li>
          <li class="<%=  params[:action].eql?("edit") && params[:controller].eql?("businesses/dashboard") ? 'active' : '' %>"><a href="/businesses/dashboard/<%= current_business.name %>/edit "><i class="icon-user"></i> Update Profile<i class="icon-chevron-right"></i></a></li>
          <li class="<%=  params[:controller].eql?("businesses/registrations") && params[:action].eql?("edit") ? 'active' : '' %>"><a href="/businesses/edit "><i class="icon-user"></i> Change Password<i class="icon-chevron-right"></i></a></li>
          <li><a href="/businesses/sign_out"  data-method="delete"><i class="icon-off"></i> Logout<i class="icon-chevron-right"></i></a></li>
        </ul>
      </div>
    </div><!--/span-->
    <div class="span8">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>



  <footer>
    <p>&copy; Company 2013</p>
  </footer>

</div> <!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
