
<%= form_for(resource, :validate => true, :as => resource_name, :url => registration_path(resource_name),:html => {:class => "form-horizontal"}) do |f| %>
    <fieldset>
      <!-- Address form -->

      <h2 class="text-info"> SIGN UP</h2>
      <br/>
      <!-- full-name input-->
      <div class="control-group">
        <label class="control-label">Full Name</label>
        <div class="controls">
          <%= f.text_field :name, :autofocus => true,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"full name",
                           :class => "input-xlarge" %>
          <p class="help-block"></p>
        </div>
      </div>
      <!-- address-line1 input-->
      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">
          <%= f.email_field :email,
                            :validate => true,
                            :type => "text",
                            :placeholder =>"email",
                            :class => "input-xlarge" %></div>
      </div>
      <div class="control-group">
        <label class="control-label">password</label>
        <div class="controls">
          <%= f.password_field :password,
                               :validate => true,
                               :type => "password",
                               :placeholder =>"password",
                               :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">password confirmation</label>
        <div class="controls">
          <%= f.password_field :password_confirmation,
                               :validate => true,
                               :type => "password",
                               :placeholder =>"repeat password",
                               :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Mobile Number</label>
        <div class="controls">
          <%= f.text_field :phone_number,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"mobile number",
                           :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Alternate Phone Number</label>
        <div class="controls">
          <%= f.text_field :alternate_number,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"alternate phone number",
                           :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
          <%= f.text_field :address,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"Address",
                           :class => "input-xlarge" %>
        </div>
      </div>
      <!-- city input-->
      <div class="control-group">
        <label class="control-label">City / Town</label>
        <div class="controls">
          <%= f.text_field :city,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"city",
                           :class => "input-xlarge" %>
          <p class="help-block"></p>
        </div>
      </div>
      <!-- region input-->
      <div class="control-group">
        <label class="control-label">State / Province / Region</label>
        <div class="controls">
          <%= f.text_field :state,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"state",
                           :class => "input-xlarge" %>
          <p class="help-block"></p>
        </div>
      </div>
      <!-- postal-code input-->
      <div class="control-group">
        <label class="control-label">Zip / Postal Code</label>
        <div class="controls">
          <%= f.text_field :zipcode,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"zipcode",
                           :class => "input-xlarge" %>
          <p class="help-block"></p>
        </div>
      </div>
      <!-- country select -->
      <div class="control-group">
        <label class="control-label">Country</label>
        <div class="controls">
          <%= f.text_field :country,
                           :validate => true,
                           :type => "text",
                           :placeholder =>"Please select the country",
                           :class => "input-xlarge" %>
        </div>
      </div>

    </fieldset>
    <div><%= f.submit "Sign up" ,class: "btn btn-large btn-block btn-success" %></div>

<% end %>

